* {
            color: white;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: black;
        }

        .head {
            display: flex;
            /* border: 2px solid red; */
            justify-content: space-between;
        }

        .img {
            width: 200px;
            margin-top: 5px;
        }

        .mid-head {
            margin-left: -500px;
            /* margin-top: px; */
        }

        ul {
            /* margin-left: 24px; */
            display: flex;
        }

        ul li {
            padding: 20px;
            list-style-type: none;
            font-size: 25px;
            margin-top: 20px;

        }

        .btn {
            padding: 5px;
            border-radius: 1rem;
            margin-top: 34px;
            margin-right: 34px;
            color: red;
            font-size: 20px;

        }

        .main-area {
            /* border: 2px solid aqua; */
            width: 99%;
            margin-left: 8px;
            height: 80vh;
            margin-top: 23px;
        }

        .head1 {
            margin-left: 23px;
            margin-top: 10px;
            font-size: 35px;
        }

        .main-area img {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 80vh;
        }

        .row {
            /* border: 2px solid red; */
            /* height: 1000vh; */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .card {
            border: 2px solid pink;
            width: 230px;
            margin: 23px;
            height: 300px;
            border-radius: 1rem;
        }
        .card:hover{
            transition: 2;
        }

        .card img {
            width: 230px;
            height: 300px;
            border-radius: 1rem;

            background-size: cover;
        }
        #inputkar{
            color: black;
            margin-left: 284px;
            
        }
